name: CSAPP HTML

on:
  workflow_dispatch:

jobs:
  html:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - run: sudo apt-get update && sudo apt-get install -y wget tar

      - run: |
          wget -r -l 3 -k -E -p -np \
            --wait=1 --limit-rate=300k \
            http://csapp.cs.cmu.edu/
          tar -czf csapp-html.tar.gz csapp.cs.cmu.edu

      - uses: actions/upload-artifact@v4
        with:
          name: csapp-html
          path: csapp-html.tar.gz
